.item-chat {
    p {
        font-size: 0.9rem;
        padding: 0.2rem;
        margin: 0;
        word-break: break-all;
        position: relative;
    }

}
.send-date{
    position: absolute;
    width: 100%;
    border-top: 1px solid;
    
   }