.linkb {
  margin: 2rem auto;
  margin-top: 3rem;
  max-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.linkb a {
  width: 150px;
  padding: 0.4rem 1rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.linkb a img {
  width: 100%;
}

@media screen and (max-width: 657px) {
  .linkb a {
    width: 130px;
  }
}

@media screen and (max-width: 550px) {
  .linkb a {
    width: 110px;
  }
}

@media screen and (max-width: 460px) {
  .linkb {
    flex-wrap: wrap;
    padding: 3rem;
    padding-top: 0.5rem;
  }
  .linkb a {
    border: none;
    width: 50%;
  }
}
